---
import Layout from "../layouts/Layout.astro";
import Frame from "../layouts/Frame.astro";
import Profile from "../components/Profile.astro";
---

<Layout title="nedew">
  <Frame>
    <main>
      <Profile />
    </main>
  </Frame>
</Layout>

<style lang="scss"></style>
